In [7]:
import pandas as pd
import pyarrow.parquet as pq

In [11]:
ls "./resources"

 Volume in drive C has no label.
 Volume Serial Number is A8F7-A597

 Directory of C:\Users\dania\code\bootcamp\data_engineering\resources

13-Jul-22  08:12 PM    <DIR>          .
13-Jul-22  08:12 PM    <DIR>          ..
13-Jul-22  08:12 PM        21,686,067 yellow_tripdata_2021-01.parquet
               1 File(s)     21,686,067 bytes
               2 Dir(s)   9,238,069,248 bytes free

In [12]:
data = pq.read_table('./resources/yellow_tripdata_2021-01.parquet')
df = data.to_pandas()

In [14]:
pwd

'C:\\Users\\dania\\code\\bootcamp\\data_engineering'

In [15]:
df.to_csv('yellow_tripdata_2021-01.csv')

In [31]:
dt= pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100).drop('Unnamed: 0',axis=1)

In [32]:
dt.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN