In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pyarrow.parquet as pq

In [2]:
# ls "./resources"

In [3]:
# data = pq.read_table('./resources/yellow_tripdata_2021-01.parquet')
# df = data.to_pandas()

In [4]:
pwd

'C:\\Users\\dania\\code\\bootcamp\\data_engineering'

In [5]:
# df.to_csv('yellow_tripdata_2021-01.csv',index=False)

In [6]:
dt= pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)
# .drop('Unnamed: 0',axis=1)

In [7]:
dt.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [8]:
dt.tpep_pickup_datetime= pd.to_datetime(dt.tpep_pickup_datetime)
dt.tpep_dropoff_datetime =pd.to_datetime(dt.tpep_dropoff_datetime)

In [21]:
# !pip list
# psycopg2                 2.9.3
# psycopg2-binary

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [12]:
query = """
SELECT  1;
"""

pd.read_sql(query,con=engine)

   ?column?
0         1

In [13]:
print(pd.io.sql.get_schema(dt,'yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [14]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [15]:
df = next(df_iter)
len(df)

100000

In [16]:
df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
print(pd.io.sql.get_schema(df,'yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [18]:
# df.head(0).to_sql(name="yellow_taxi_data",con=engine,if_exists='replace')

In [19]:
sql_engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
conn = engine.connect()
df.head(0).to_sql(name="yellow_taxi_data",con=conn,if_exists='replace')

In [22]:
%time df.to_sql(name="yellow_taxi_data",con=conn,if_exists="append")

Wall time: 6.5 s

In [24]:
from time import time

In [26]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data",con=conn,if_exists="append")
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)

c:\users\dania\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

inserted another chunk, took %.3f second % (t_end - t_start)
inserted another chunk, took %.3f second % (t_end - t_start)

StopIteration: