In [75]:
from sqlalchemy import create_engine
import pandas as pd
import pyarrow.parquet as pq

In [76]:
# ls "./resources"

In [52]:
# data = pq.read_table('./resources/yellow_tripdata_2021-01.parquet')
# df = data.to_pandas()

In [77]:
pwd

'C:\\Users\\dania\\code\\bootcamp\\data_engineering'

In [53]:
# df.to_csv('yellow_tripdata_2021-01.csv',index=False)

In [78]:
dt= pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)
# .drop('Unnamed: 0',axis=1)

In [79]:
dt.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [80]:
dt.tpep_pickup_datetime= pd.to_datetime(dt.tpep_pickup_datetime)
dt.tpep_dropoff_datetime =pd.to_datetime(dt.tpep_dropoff_datetime)

In [81]:
# !pip list

In [82]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [83]:
engine.connect()

In [84]:
query = """
SELECT  1;
"""

pd.read_sql(query,con=engine)

AttributeError: 'Engine' object has no attribute 'cursor'

In [85]:
print(pd.io.sql.get_schema(dt,'yellow_taxi_data',con=engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [86]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [87]:
df = next(df_iter)
len(df)

100000

In [88]:
df.tpep_pickup_datetime= pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_dropoff_datetime)

In [89]:
print(pd.io.sql.get_schema(df,'yellow_taxi_data',con=engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [90]:
df.head(0).to_sql(name="yellow_taxi_data",con=engine,if_exists='replace')

AttributeError: 'Engine' object has no attribute 'cursor'

In [73]:
sql_engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
conn = engine.connect()
df.head(0).to_sql(name="yellow_taxi_data",con=conn,if_exists='replace')

AttributeError: 'Connection' object has no attribute 'cursor'